body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(166, 166, 226, 0.679);
}


.trial {
    font-size: 30px;
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input[type="checkbox"] {
    position: relative;
    width: 10px;
    height: 5px;
    -webkit-appearance: none;
    appearance: none;
    background: red;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}