body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(166, 166, 226, 0.679);
}


.trial {
    font-size: 30px;
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    appearance: none;
    background: red;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

input[type="checkbox"]::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

input[type="checkbox"]:checked::before {
    transform: translateX(100%);
    background: #fff;
}

input[type="checkbox"]:checked {
    background: #00ed64;
}